.news {
  $this: &;
  display: block;
  margin-bottom: 40px;

  &__cover {
    height: 323px;
    border-radius: 8px;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: ease transform 0.3s;

    &:hover {
      transform: scale(1.05) rotate(2deg);
    }
  }

  &__date {
    font-size: 14px;
    color: #c4cfe4;
    padding-top: 6px;
    height: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    color: #091433;
    transition: color 0.3s ease-in;
    line-height: 1.6;
    margin: 0;

    &:hover {
      color: #0a2f87;
    }
  }
}
