.input {
  $this: &;

  display: block;
  width: 100%;
  height: 46px;
  padding: 13px 16px;
  color: $black;
  background-color: #f6fafd;
  border: 1px solid #c4cfe4;
  border-radius: 3px;
  font-size: 18px;
  font-family: $ff;
  line-height: 1;
  outline: none !important;
  transition: background-color 200ms $ease;

  &.error {
    border: 1px solid red;
    background-color: #ffffff;
  }

  &:hover,
  &:focus {
    background-color: #ffffff;
  }

  &::-moz-placeholder {
    color: #bbd2d7;
  }

  &::-webkit-input-placeholder {
    color: #bbd2d7;
  }
}

textarea.input {
  resize: none;
  min-height: 110px;
}
