.search-results {
  &__list {
    display: flex;
    flex-wrap: wrap;
    // margin: 0 -30px;
    position: relative;
    z-index: 1;

    &.is-load {
      position: relative;
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        opacity: 0.5;
        z-index: 4;
        background-image: url('/img/loading.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  &__item {
    // margin: 20px 15px;
    margin: 20px 12px;
  }

  @media (max-width: $s) {
    &__item {
      margin: 0;
      margin-bottom: 30px;
      width: 50%;
      padding: 8px;

      &:nth-child(odd) {
        border-right: 1px solid #E8ECF3;
      }
    }

    &__pagination {
      margin-top: 40px;
      margin-bottom: 40px;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }

    &__list {
      margin: 0}
  }
}