$black: #121a42;
$white: #ffffff;
$grey: #727f9c;
$grey-light: #c4cfe4;
$grey-dark: #444e63;
$red: #fa3a3d;
$blue: #1f59ee;
$blue-dark: #0a2f87;
$shadow: 0px 2px 12px rgba(14, 28, 62, 0.122);
$shadow2: 0px 4px 16px rgba(0, 26, 87, 0.07);
$radius1: 3px;
$radius2: 21px;
$radius3: 24px;
$ff: "Golos Text", sans-serif;

$isResponsive: true;
$hasGuides: false;

$font-size: 16px;
$font-sizes: (
  1: 52px,
  2: 40px,
  3: 28px,
  4: 20px,
  5: 20px,
  6: 20px,
);

$line-height: 1.68;

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;

$lg: 1599px;
$xl: 1439px;
$l: 1179px;
$md: 959px;
$m: 768px;
$s: 559px;
$xs: 320px;

$breakpoints: (
  "lg": $lg,
  "xl": $xl,
  "l": $l,
  "md": $md,
  "m": $m,
  "s": $s,
  "xs": $xs,
);

$gap: 30px;
$width: 100%;
$minwidth: 320px;
$maxwidth: 1520px;
$maxwidth2: 1680px;

$layer-1: 100;
$layer-2: 200;
$layer-3: 300;
$layer-4: 400;
$layer-5: 500;
$layer-6: 600;
$layer-7: 700;
$layer-8: 800;
$layer-9: 900;
$layer-10: 1000;

$ease: cubic-bezier(0.455, 0.03, 0.515, 0.955);
