.product-sidebar {
  $this: &;
  border: 1px solid #e8ecf3;
  border-radius: 3px;
  
  padding-bottom: 0;

  &__content {
    padding: 30px;
  }

  &__header {
    display: flex;
    align-items: flex-end;
    padding-bottom: 25px;
    border-bottom: 1px solid #e8ecf3;
    margin-bottom: 22px;
  }

  &__price {
    font-size: 30px;
    font-weight: 600;
    color: #0a2f87;
    margin: 0;
    line-height: 1;
  }

  &__old-price {
    color: #c4cfe4;
    font-size: 18px;
    margin: 0;
    line-height: 1;
    text-decoration: line-through;
    margin-left: 18px;
  }

  &__title {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #091433;
    line-height: 1.3;

    i {
      font-style: normal;
      color: #1f59ee;
    }
  }

  &__link {
    font-size: 14px;
    color: #1f59ee;
  }

  &__row {
    display: flex;
    align-items: flex-start;

    & + & {
      margin-top: 18px;
    }
  }

  &__img {
    margin-right: 16px;
  }

  &__footer {
    // width: calc(100% + 60px);
    // position: relative;
    // left: -30px;
    // margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
