.stock-page {
  &__cover {
    width: 100%;
    position: relative;
  }

  &__img {
    width: 100%;
    object-fit: cover;
  }

  &__mobile {
    display: none;
    width: 100%;
    object-fit: contain;
  }

  &__title {
    position: absolute;
    max-width: 690px;
    left: 50px;
    top: 40px;
    font-size: 60px;
    font-weight: $semibold;
    color: $white;
    margin: 2px 0 56px 0;
    line-height: 1;

    span {
      display: block;
      color: $grey-light;
      font-size: 40px;
      font-weight: $medium;
      margin: 10px 0 0 0;
    }
  }  

  @media (max-width: $s) {
    &__img {
      display: none;
    }
  
    &__mobile {
      display: flex;
    }
  }
}