.cart-list {
  $this: &;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e8ecf3;
    padding: 20px;
    margin-bottom: 30px;
  }

  &__remove {
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: $ff;
    color: #1f59ee;
    border: none;
    background: none;
    cursor: pointer;
  }

  &__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    & + & {
      border-top: 1px solid #e8ecf3;
    }
  }

  &__product {
    flex-grow: 1;
  }  

  &__footer {
    margin-bottom: 30px;
  }

  &__checkbox {
    margin-right: 16px;
    cursor: pointer;
  }

  &__select {
    border: none;
    background: none;
    position: relative;
    padding: 0;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: $ff;
    color: #1e2123;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-radius: 2px;
      border: 2px solid #c4cfe4;
      width: 18px;
      height: 18px;
      left: 0;
      top: calc(50% - 9px);
    }

    &::after {
      width: 10px;
      height: 10px;
      background-color: #1f59ee;
      border: none;
      left: 4px;
      border-radius: 0;
      top: calc(50% - 5px);
      transform: scale(0);
      transition: ease transform 0.3s;
    }

    &.is-active {
      &::after {
        transform: scale(1);
      }
    }
  }

  &__none {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__headlibe {}
  
  &__button {
    border: 1px solid #c4cfe4;    
    border-radius: 3px;
    background: none;
    
    font-weight: 500;
    font-family: $ff;
    cursor: pointer;
    transition: ease background-color 0.3s;
    font-size: 16px;
      color: #ffffff;
     
      border-color: #0a2f87;
      background-color: #0a3088;
      padding: 20px 36px;  

    &:hover {
      background-color: #c4cfe4;
    }
  }

  @media (max-width: $s) {
    &__checkbox {
      display: none;
    }

    &__header {
      display: none;
    }
  }
}
