.footer-nav {
  $this: &;

  &__link {
    transition: color 0.3s $ease;

    &:hover {
      color: #858fee;
    }
  }

  &__link,
  &__label {
    display: block;
    font-size: 17px;
    color: $grey-light;
    margin: 0;
    font-weight: $medium;
  }

  &__label.is-active {
    color: #858fee;
  }

  &__item {
    & + & {
      margin-top: 10px;
    }
  }

  &__list {
  }

  @media (max-width: $s) {
    width: 100%;
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
  }
}
