.brand {
  $this: &;

  &:hover {
    .brand__img {
      transform: scale(1.02);
    }
  }

  &__link {
    display: block;
    text-decoration: none;
  }

  &__img {
    transition: transform 0.3s $ease;
  }
}